<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <link rel="icon" type="image/svg+xml" href="/vite.svg" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <style>
            body {
                margin: 0;
                padding: 0;
                font-family: "Plus Jakarta Sans", sans-serif;
            }

            .full-screen {
                width: 100vw;
                height: 100vh;
                position: relative;
                overflow: hidden;
            }
        </style>
        <title>Vite + TS</title>
    </head>
    <body>
        <div class="full-screen" id="container"></div>
        <script type="module" src="/src/scripts/viewer.ts"></script>
    </body>
</html>
